$blue: #041E50;

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo-search {
    color: $blue;
    height: 75px;
    max-width: 1142px;
    margin: 0 auto;
    padding: 0 5%;
    @include flex;

    .input-area {
        @include flex;
        padding: 0 10px;
        width: 340px;
        border: 1px solid rgba($blue, .4);
        border-radius: 5px;
        height: 41px;
        font-size: 9px;
    }

    .fone {
        @include flex;
        width: 112px;
        font-size: 10px;
        
    }

    .minha-conta {
        @include flex;
        width: 126.54px;
        text-transform: uppercase;
        height: 23.09px;

        .ola-nome {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 23.09px;
    
            h2 {
                font-size: 10px;
                font-weight: 700;
            }

            span {
                font-size: 7px;

            }
        }

        img:last-child {
            align-self: flex-start;
            margin-top: 5px;
        }
    }

    .carrinho {
        width: 77px;
        background-color: $blue;
        height: 104px;
        color: white;
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            margin-bottom: 4px;
        }   

        h2 {
            font-size: 10px;
            margin-bottom: 4px;
        }

        span {
            font-size: 10px;
        }
    }
}