$blue: #041E50;

.bg-modal {
    background-color: rgba(black, 0.4);
    position: fixed;
    z-index: 5;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .modal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        
        background-color: white;
        position: relative;
        width: 770px;
        height: 353px;
        border-radius: 5px;

        .fechar-modal {
            position:absolute;
            top: 15.2px;
            right: 27.2px;
            cursor: pointer;
        }

        .informacoes-modal {
            text-align: start;
            color: $blue;
            margin-right: 56px;

            .titulo-produto-modal {
                font-size: 20px;
                font-weight: 400;
                margin-bottom: 21px;
            }

            .preco-produto-modal {
                font-size: 20px;
                font-weight: 900;
                margin-bottom: 20px;
            }

            .descricao-produto-modal {
                font-size: 10px;
                font-weight: 400;
                color: #222222;
                margin-bottom: 20px;
            }

            .mais-detalhes-modal {
                margin-bottom: 20px;
                display: flex;
                align-items: center;

                a {
                    color: $blue;
                    text-decoration:underline;
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: 1.5px;
                }

                button {
                    margin-left: 4px;
                }
            }

            .add-carrinho-modal {
                width: 164px;
                height: 40px;
                padding: 14px 24px;
                background-color: $blue;
                color: white;
                font-size: 11px;
                font-weight: 700;
                border-radius: 5px;
            }
        }
    }

}